<h1>Stupid Coaching</h1>
<blockquote>
  <p><%= params[:message] %></p>
  <footer><em>-You</em></footer>  
</blockquote>
<blockquote>
  <p><strong><%= @answer %></strong></p>
  <footer><em>-Your coach</em></footer>    
</blockquote>
<%= link_to "Write a new message to your coach", ask_path %>
